body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 40px;
}

header .d-flex {
    height: 100%;
}

nav {
    height: 60px;
}

.navbar {
    padding: 0;
}

header img {
    width: 65px;
}

.navbarbrand img {
    width: 50px;
}

button img {
    width: 20px;
}

.jumbo {
    background: url("../img/jumbo-bg.png") center;
    background-size: cover;
    height: calc(100vh - 100px);
}

.jumbo-inside {
    bottom: 30px;
}

.jumbo-inside img, .jumbo-inside h2, .jumbo-inside p {
    padding-left: 0;
}

.section-one img {
    border-radius: 20px;
}

.text-primary {
    font-size: 11px;
}
