body {
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  padding-left: 0;
  padding-right: 0;
} */

header .d-flex {
  height: 100%;
}

.navbar {
  padding: 0;
}

header img {
  width: 65px;
}

.navbarbrand img {
  width: 50px;
}

button img {
  width: 20px;
}

.jumbo {
  background: url("../img/jumbo-bg.png") center;
  background-size: cover;
  height: calc(100vh - 103.44px);
}

.it_takes_two {
  background: url("../img/it-takes-two-hero-banner-desktop.jpg") center;
  background-size: cover;
  height: 80vh;
}
.jumbo .container,
.jumbo .jumbo-inside,
.it_takes_two .container,
.it_takes_two .jumbo-inside {
  height: 100%;
}

#img-returnal {
  max-width: 70%;
}

#img-it_takes_two {
  max-width: 60%;
}

.container img,
.container h2,
.container p {
  padding-left: 0;
}

.section-one img {
  border-radius: 20px;
}

.text-primary {
  font-size: 11px;
  text-decoration: none;
}

.bg-blue {
  background: rgb(21, 21, 43);
}

#globe::before {
  content: "\f0ac";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 20px;
  padding-right: 10px;
}

#sie {
  width: 100px;
}

@media (min-width: 992px) {
  .jumbo-inside p,
  .jumbo-inside h2 {
    max-width: 30%;
  }

  #img-returnal {
    max-width: 25%;
  }

  #img-it_takes_two {
    max-width: 20%;
  }
}
