body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Utility Classes */

.container img,
.container h2,
.container p {
  padding-left: 0;
}

.text-primary {
  font-size: 11px;
  text-decoration: none;
}

.bg-darkblue {
  background: rgb(21, 21, 43);
}

.bg-blue {
  background: #00439c;
}

/* header */

header {
  background: #000;
}

header img {
  width: 75px;
  padding-right: 5px;
}
/* Navbar */

.navbar-custom {
  padding: 0;
  font-size: 15px;
}

.navbar-custom .btn {
  background: #000;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  border-radius: 25px;
  transition: none;
}

.btn:active,
.btn:focus,
.btn:active:focus,
.btn:hover {
  background-image: none;
  background: #00439c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-custom .btn a {
  color: #fff;
  text-decoration: none;
}

.btn a:active:focus .btn {
  background: #00439c;
}

.lens-li {
  padding-left: 5px;
}

.navbar-custom a img {
  width: 25px;
}

/* Jumbotron + It Takes Two Section */

.jumbo .container,
.jumbo .jumbo-inside,
.it_takes_two .container,
.it_takes_two .jumbo-inside {
  height: 100%;
}

.jumbo {
  background: url("../img/jumbo-bg.png") center;
  background-size: cover;
  height: calc(100vh - 88.31px);
  margin-top: 88.31px;
}

.it_takes_two {
  background: url("../img/it-takes-two-hero-banner-desktop.jpg") center;
  background-size: cover;
  height: 80vh;
}

/* Secion one */

.section-one img {
  border-radius: 20px;
}
/* Id Imgs */

#img-returnal,
#img-play-plus,
#img-play-now {
  max-width: 70%;
}

#img-it_takes_two {
  max-width: 60%;
}

#sie {
  width: 100px;
}

/* Footer */

#globe::before {
  content: "\f0ac";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 20px;
  padding-right: 10px;
}

/* Media Queries */

/* Media Queries for Jumbo + It Takes Two */

@media (min-width: 992px) {
  .jumbo-inside p,
  .jumbo-inside h2 {
    max-width: 30%;
  }

  #img-returnal {
    max-width: 25%;
  }

  #img-it_takes_two {
    max-width: 20%;
  }
}
