body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 40px;
}

header .d-flex {
    height: 100%;
}

nav {
    height: 60px;
}

header img {
    width: 65px;
}

.navbarbrand img {
    width: 50px;
}

button img {
    width: 20px;
}

.jumbo {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position-x: center;
    height: calc(100vh - 100px);;
}