body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

header {
    height: 40px;
}

header .d-flex {
    height: 100%;
}

nav {
    height: 60px;
}

.navbar {
    padding: 0;
}

header img {
    width: 65px;
}

.navbarbrand img {
    width: 50px;
}

button img {
    width: 20px;
}

.jumbo {
    background: url("../img/jumbo-bg.png") center;
    background-size: cover;
    height: calc(100vh - 100px);
}

.jumbo-inside, .takes-inside {
    bottom: 30px;
}

.container img, .container h2, .container p {
    padding-left: 0;
}

.section-one img {
    border-radius: 20px;
}

.text-primary {
    font-size: 11px;
}

.it_takes_two {
    background: url("../img/it-takes-two-hero-banner-desktop.jpg") center;
    background-size: cover;
    height: 100vh;
}


@media  (max-width: 991px) {
    #hide {
        display: none;
    }
    
}